.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body{
	 font-family: 'Poppins', sans-serif;
}
.container {
  z-index: -1;
  width: 1350px;
  padding-bottom: 50px;
}

* {
  margin: 0 auto;
  color: #333;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

* button {
  border: none;
  border-radius: 5px;
}

.none {
  display: none;
}

.block {
  display: block;
}
#search {
	position: relative;
}

#myUL {
	  position:absolute;
	  top: 40px;
	  left: 0;
  	z-index: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}


  
  
  #myUL li {
    width: 600px;
  }
  #myUL li a {
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #fff; 
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

body {
  position: relative;
}

body .position {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.753);
}

header {
  height: 100px;
}

header .logo {
  width: 300px;
  height: 100px;
  background: #fdcb1e;
}

header .logo a img {
  width: 100%;
  height: 100%;
}

header .login_search_contact {
  background: rgba(0, 0, 0, 0.199) url(img/backgr0.png);
  background-blend-mode: darken;
  background-size: cover;
  width: 1200px;
}

header .login_search_contact .login_search {
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .login_search_contact .login_search .search {
  position: relative;
}

header .login_search_contact .login_search .search > input {
  width: 600px;
  padding: 10px 10px 10px 50px;
  border-radius: 5px;
  border: none;
}

header .login_search_contact .login_search .search > input::-webkit-input-placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input:-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input::-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input::placeholder {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
}

header .login_search_contact .login_search .search > input:focus {
  outline: none;
}

header .login_search_contact .login_search .search i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  color: #333;
}

header .login_search_contact .login_search .login a {
	text-align: center;
  padding: 10px;
  margin-right: 15px;
  background: #fff;
  letter-spacing: 1px;
  border: #fff solid 1px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 rgb(230,198,42);
  transition: ease-out 0.3s;
}

header .login_search_contact .login_search .login a:hover {
  background: rgb(230,198,42);
  box-shadow: inset 120px 0 0 0 rgb(230,198,42);
  color: black;
}

header .login_search_contact .contact {
  margin-bottom: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .login_search_contact .contact i {
  padding-right: 10px;
  color: #fff;
}

header .login_search_contact .contact a {
  color: #fff;
}

header .login_search_contact .contact .phone_num, header .login_search_contact .contact .mail, header .login_search_contact .contact .address {
  padding: 10px;
}

header .login_search_contact .contact .phone_num:hover, header .login_search_contact .contact .mail:hover, header .login_search_contact .contact .address:hover {
  background: #fff;
}

header .login_search_contact .contact .phone_num:hover a, header .login_search_contact .contact .phone_num:hover i, header .login_search_contact .contact .mail:hover a, header .login_search_contact .contact .mail:hover i, header .login_search_contact .contact .address:hover a, header .login_search_contact .contact .address:hover i {
  color: #333;
}

.title {
	width: 1350px;
  -webkit-box-shadow: 1px 1px 10px 10px silver;
          box-shadow: 1px 1px 10px 10px silver;
  height: 50px;
}

.title .navbar {
  background-color:#fdcb1e;
  font-size: 20px;
  width: 1150px;
}

.title .navbar ul li {
  padding: 15px 60px;
  margin-left: 0;
  box-shadow: inset 0 0 0 0 rgb(230,198,42);
  transition: ease-out 0.3s;
}

.title .navbar ul li a, .title .navbar ul li i {
  color: rgb(0, 0, 0);
}

.title .navbar ul li:hover {
 box-shadow: inset 200px 0 200px 0 rgba(0,0,0,0.2);
	 border-radius: 20px;
}

.title .navbar ul li:hover > a, .title .navbar ul li:hover i {
  color: black;
}

.title .navbar ul .dropdown {
  position: relative;
}

.title .navbar ul .dropdown i {
  padding-left: 10px;
}

.title .navbar ul .dropdown .menu-sh {
  display: none;
}

.title .navbar ul .dropdown:hover .menu-sh {
  z-index: 1;
  -webkit-box-shadow: 1px 1px 15px 1px #2421213d;
          box-shadow: 1px 1px 15px 1px #2421213d;
  background: rgb(230,198,42);
  color: #fff;
  position: absolute;
  left: -20px;
  top: 50px;
  width: 220px;
  display: block;
}

.title .navbar ul .dropdown:hover .menu-sh li {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  padding: 10px 18px;
  margin: 5px 0;
  box-shadow: inset 0 0 0 0 rgb(230,198,42);
  transition: ease-out 0.4s;
}

.title .navbar ul .dropdown:hover .menu-sh li:hover {
  width: 100%;
 box-shadow: inset 255px 0 0 0 black;
}

.title .navbar ul .dropdown:hover .menu-sh li:hover a {
  color:white;
}

.title .cart {
  background: #fff;
  width: 200px;
  text-align: center;
  padding: 15px;
}

.title .cart a {
  font-size: 20px;
}

.title .cart a i {
  font-size: 23px;
}
.main {
  margin-top: 20px;
}

.main .select {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: black solid 1px;
}

.main p {
  margin-bottom: 10px;
}


.main .prods {
  width: 1350px;
}

.main .prods .title2 {
  margin-bottom: 50px;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
}

.main .prods .title2 .navbar {
  background-color: #fff;
  font-size: 20px;
  width: 100%;
}

.main .prods .title2 .navbar ul li {
  padding: 15px;
  margin-left: 0;
}

.main .prods .title2 .navbar ul li a, .main .prods .title2 .navbar ul li i {
  color: #333;
}

.main .prods .title2 .navbar ul li:hover > a, .main .prods .title2 .navbar ul li:hover i {
  color:#fdcb1e;
}

.main .prods .items {
  margin-bottom: 25px;
  width: 1350px;
  flex-wrap: wrap;
}

.main .prods .items .item1{
  padding: 10px;
  margin: 15px;
  text-align: center;
  width: 280px;
  border: black solid 1px;
  background: #fff;
  border-radius:10px;
  transition: ease-out 0.3s;
}

.main .prods .items .item1 p, .main .prods .items .item1 a, .main .prods .items .item1 span{
  color: #333;
  
}
.main .prods .items .item1 a{
	font-weight:bold;
}


.main .prods .items .item1 img {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.main .prods .items .item1 p {
  margin: 10px;
}

.main .prods .items .item1:hover {
  
  background:white;
  border: black solid 1px;
  box-shadow: 8px 7px 13px -3px #000000;
}

.main .prods .items .item1:hover p, .main .prods .items .item1:hover a, .main .prods .items .item1:hover span {
  color:black;
  box-shadow: inset 0 0 0 0 rgb(230,198,42);
  transition: ease-out 0.2s;
}

.main .prods .items .item1:hover .buy:hover {
  color:white;
  background:black;
  padding: 5px;
  border-radius:5px;
  box-shadow: inset 200px 0 200px 0 rgba(0,0,0,0.2);
}
.content {
	background:#fdcb1e;
	width: 1350px;
}

.content .customer h1 {
  color: #333;
  margin: 60px 0 20px 0;
}

.content .customer ul li {
  padding: 10px;
}

.content .customer ul li i {
  padding: 10px;
}

.content .customer ul li a {
  margin-right: 10px;
}

.content .customer ul li a:hover {
  color: #fff;
}
/*# sourceMappingURL=product.css.map */