body {
	font-family: 'Source Serif Pro', sans-serif;
	font-weight: bold;
  background:rgba(0, 0, 0, 0.199) url("https://luxshopping.vn/Uploads/News/rolex-image-1280x8492.jpg");
  background-blend-mode: darken;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form {
	color:white;
  background: rgba(0,0,0,0.5);
  width: 500px;
  
	border-radius: 10px;
  padding: 50px ;
  
}


body form > input {
  margin: 15px 0;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
}

body form button {
  width: 100px;
  padding: 10px;
  letter-spacing: 1px;
  background: #fff;
  border-radius: 10px;
}
body form button:hover {
	
  color: #ad5b5b9a;
}
